@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  width: 100%;
  height: 100%;
}

/* base style */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  color: #249c6b;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #249c6b;
}
ul {
  list-style: none;
  color: #249c6b;
}
.btn {
  background: none;
  border: 2px solid #ffffff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}
.btn:hover {
  background: #ffffff;
  color: rgb(206, 0, 0);
  border: 2px solid #585757;
}
.App {
  min-height: 100%;
}
.App.dark {
  background: rgb(0, 0, 0);
}
