.article .article-content {
  font-family: 'DM Sans', sans-serif;
  text-align: justify;
  box-shadow: 4px 2px 4px 5px rgba(0, 0, 0, 0.5);
  /* background: #fff; */
  /* background: #209dd2; */
  background: #73d6ac;
  padding: 1.5rem;
}

.article h2 {
  font-family: 'Cascadia Code', monospace;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  background: #73d6ac;
  text-transform: uppercase;
  text-decoration: none;
}

.article p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  /* background: #ffffff; */
}
