.home .card {
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  background: #73d6ac;
  font-weight: 500;
}

.home h3 {
  text-a: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}
