.card {
  border: 2px solid #eee;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 4px;
}

.card button {
  background-color: #555;
}

.card h2 {
  text-transform: uppercase;
  color: chocolate;
  font-family: JetBrains Mono;
  text-align: justify;
  padding-left: 1rem;
}
.card h3 {
  display: block;
  font-size: 1.2em;
  color: rgb(117, 116, 116);
  font-weight: normal;
  font-family: JetBrains Mono;
  text-align: justify;
  padding-left: 1rem;
}
